.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollbar-custom {
    scrollbar-color: rgba(192, 192, 192, 0.7) transparent;
    /* For Firefox */
    scrollbar-width: thin;
    /* For Firefox */
}